/* GENERALE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  width: 70%;
  margin: 10px auto;
  min-width: 500px;
  max-width: 900px;
}

/* HEADER */

header .banner{
  width: 100%;
  height: 100px;
  background-color: #F56FEC;
  margin-bottom: 15px;
}

header .jumbotron {
  width: 100%;
  height: 300px;
  background-color: #E3D76B;
  margin-bottom: 15px;
}


/* MAIN */
main {
  height: 500px;
  background-color: #0085FF;
  margin-bottom: 5px;
}

main div.top-ban {
  height: 70px;
  background-color: #A2D0EA;
  margin-bottom: 10px;
}

.col, .center {
  float: left;
  background-color: #A2D0EA;
  height: 400px;
}

section.col {
  width: 24%;
}

section.center {
  width: 50%;
}

[class$="sx"]{
  margin-right: 1%;
}

[class$="dx"] {
  margin-left: 1%;
}

/* FOOTER */

.credits {
  height: 30px;
  background-color: #971AFF;
}